$env:NODE_ENV = "production"

$env:RSL_HOST = "0.0.0.0"
$env:RSL_PORT = "3000"

$env:RSL_TCP_ENABLED = "true"
$env:RSL_TCP_HOST = "0.0.0.0"
$env:RSL_TCP_PORT = "4000"

$env:RSL_DB_PATH = "C:\RockSolidLicense\data\rocksolid.db"
$env:RSL_LICENSE_PRIVATE_KEY_PATH = "C:\RockSolidLicense\data\license_private.pem"
$env:RSL_LICENSE_PUBLIC_KEY_PATH = "C:\RockSolidLicense\data\license_public.pem"
$env:RSL_LICENSE_KEYRING_PATH = "C:\RockSolidLicense\data\license_keyring.json"

$env:RSL_TOKEN_ISSUER = "RockSolidLicense"
$env:RSL_ADMIN_USERNAME = "admin"
$env:RSL_ADMIN_PASSWORD = "ReplaceThisImmediately"
