NODE_ENV=production

RSL_HOST=0.0.0.0
RSL_PORT=3000

RSL_TCP_ENABLED=true
RSL_TCP_HOST=0.0.0.0
RSL_TCP_PORT=4000

RSL_DB_PATH=/var/lib/rocksolid/data/rocksolid.db
RSL_LICENSE_PRIVATE_KEY_PATH=/var/lib/rocksolid/data/license_private.pem
RSL_LICENSE_PUBLIC_KEY_PATH=/var/lib/rocksolid/data/license_public.pem
RSL_LICENSE_KEYRING_PATH=/var/lib/rocksolid/data/license_keyring.json

RSL_TOKEN_ISSUER=RockSolidLicense
RSL_ADMIN_USERNAME=admin
RSL_ADMIN_PASSWORD=ReplaceThisImmediately
